.vs/
ExchangeRateCalcX/ExchangeRateCalcX/bin
ExchangeRateCalcX/ExchangeRateCalcX/obj
ExchangeRateCalcX/ExchangeRateCalcX.Android/bin/obj
ExchangeRateCalcX/ExchangeRateCalcX.Android/bin/Debug
ExchangeRateCalcX/ExchangeRateCalcX.Android/obj
ExchangeRateCalcX/ExchangeRateCalcX.Android/.cache
ExchangeRateCalcX/ExchangeRateCalcX.Android/debug
ExchangeRateCalcX/ExchangeRateCalcX.Android/debug/81